.vscode
.vscode/*
.DS_Store
/trRouting
/trRoutingCSA
/trRoutingConfig.yml
/trRoutingTripBased
/trRoutingTripBasedConfig.yml
/osrm
/cache

*.csv
*.json

*.xcodeproj
.build
swift/trRouting/Packages
swift/trRouting/Package.resolved

# Cache files
*.cache
*.pb
*.capnpbin
*.msgpack

# osrm files
*.osrm
*.osrm.*

# Compiled Object files
*.slo
*.lo
*.o
*.o.tmp
*.o-*
*.d
*.d-*
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# makefiles
Makefile
Makefile.in
/missing
/configure
/depcomp
/install-sh
/config.sub
/config.status
/config.log
/config.guess
/compile
/aclocal.m4
/ar-lib
/libtool
/ltmain.sh
/src/trRouting
.deps
/include/capnp/*.c++
/include/capnp/*.h

# tests
test-driver
tests/gtest
tests/gtest.log
tests/gtest.trs
tests/test-suite.log
tests/*/.dirstamp