.DS_Store
/trRouting
/trRoutingCSA
/trRoutingConfig.yml
/trRoutingTripBased
/trRoutingTripBasedConfig.yml


*.csv
*.json

*.xcodeproj
.build
swift/trRouting/Packages
swift/trRouting/Package.resolved

# Cache files
*.cache
*.pb
*.msgpack

# osrm files
*.osrm
*.osrm.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
