<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>trRouting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>trRouting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
