{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(gdb) Launch trRouting",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/src/trRouting",
            // Change project to fit where the cache files are, relative to workspace root or absolute
            "args": [
                "--cachePath=/absolute/path/to/some/cache/directory",
                "--osrmPort=5000",
                "--osrmHost=localhost",
                "--debug=1"
            ],
            "stopAtEntry": false,
            "cwd": "${fileDirname}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ]
        }, {
            "name": "(gdb) Launch Tests",
            "type": "cppdbg",
            "request": "launch",
            // To debug another test program, change the path here to match the program to debug
            "program": "${workspaceFolder}/tests/cache_fetch/gtest",
            "args": [ ],
            "stopAtEntry": false,
            "cwd": "${fileDirname}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ]
        }
    ]
}